<?xml version="1.0" encoding="UTF-8"?>
<!-- Log4j 2 configuration for running examples and tests. Add the config folder to the classpath to use it. -->
<Configuration status="warn">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<!-- Print the date in ISO 8601 format -->
			<PatternLayout pattern="%d %-5p %c - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>
